@import "../bootstrap/core";

.flex-pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
}

.flex-pagination a {
  font-weight: bold;
  background-color: $white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0.5rem 0.75rem;
  margin: 0.2rem;
  text-decoration: none;

  &.active {
    background-color: $primary;
    color: $white;
  }
  &:hover {
    color: $white;
    background-color: $primary;
  }
  &:focus {
    color: $white;
    background-color: $primary;
  }
}
