@import "../bootstrap/core";

$aplhabet-filter-button-spacer: map-get($spacers, 1);

.alphabet-filter {
  display: flex;
}

.alphabet-filter-letters {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  margin: $aplhabet-filter-button-spacer / -2;
  max-width: 40rem;
}

.alphabet-filter-button {
  width: 1rem;
  box-sizing: content-box;
  margin: $aplhabet-filter-button-spacer / 2;
}

.alphabet-filter-button-all {
  flex: 0;
  width: auto;
  margin: 0 $aplhabet-filter-button-spacer 0 0;
}
