.container {
  padding: var(--page-padding-y) calc(var(--page-padding-x) * 1.5) !important;
}

.title {
  text-align: center;
  & > * {
    font-size: 1.5rem;
  }
  span {
    color: var(--primary);
    text-transform: uppercase;
  }
}

.inner-wrap-text {
  width: 600px;
  margin: 0 auto;
}

.text {
  margin-bottom: 15px;
  display: block;
  text-align: justify;
}
.text span {
  color: var(--primary);
}

.btn {
  margin: 0 10px;
}

.btn-sent {
  background: var(--gray-400);
}

.wrap-btn {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.additional-info {
  color: var(--gray-600);
  span {
    color: var(--primary);
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.form-section {
  padding-top: 1.5rem;
}

.box {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.success {
  text-align: center;
  .description {
    max-width: 80ch;
    margin: 0 auto;
    color: var(--gray-600);
    font-size: 1.4rem;
  }
  .image {
    margin-top: 2rem;
  }
  .caption {
    margin: 1rem auto 2rem;
    max-width: 60ch;
    display: block;
  }
}
