$card-header-color: #fef5ef;
$support-card-width: 21.5rem;
$member-image-width: 102px;
$grid-responsive-for-sections: repeat(auto-fit, minmax(300px, 1fr));
$breakpoint-sm: 800px;
$breakpoint-md: 1130px;
$breakpoint-lg: 1415px;

.institution-benefit-wrapper {
  background: #f5f5f5;
  .institution-benefit-inner-wrapper {
    padding: var(--page-padding-y) var(--page-padding-x);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 36px;
  }
  .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 48%;
    box-sizing: border-box;
    padding: 10px;
    color: #212121;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 78px;
    .main-title {
      font-weight: 700;
    }
    a {
      color: #b75400;
    }
    @media (max-width: $breakpoint-md) {
      flex: 0 0 100%;
    }
  }
  .item-main-wrapper {
    flex: 0 0 48%;
    box-sizing: border-box;
    background: #fff;
    .item-wrapper {
      padding: 16px;
      .item-title {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.036px;
      }
      .item-description {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.026px;
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-top: 1px solid #e0e0e0;
      .user-wrapper {
        display: flex;
        align-items: flex-start;
        width: 70%;
        .user-img {
          margin-right: 14px;
        }
        .user {
          margin-bottom: 6px;
        }
        .position {
          color: #666;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 0.048px;
        }
      }
    }
    @media (max-width: $breakpoint-md) {
      flex: 0 0 100%;
    }
  }
}
