@import 'components/bootstrap/core';

.testimonials-section {
  @include section-skew-left($gray-200);

  .testimonial + .testimonial {
    margin-top: $spacer;
  }
  //1280 PX - new container
  //TODO: Once new container will use all components -  change in main file
  @include media-breakpoint-up('lg') {
    grid-template-columns: 1fr 1280px 1fr;
  }
}

.testimonial-section-illustration {
  display: flex;

  @include media-breakpoint-down('sm') {
    flex-wrap: wrap;
  }

  &-content {
    flex: 1;
    @include media-breakpoint-down('sm') {
      flex: auto;
    }
  }

  &-container {
    flex: 1;
    @include media-breakpoint-up('md') {
      order: 1;
    }
    @include media-breakpoint-down('sm') {
      flex: auto;
    }
  }
}

.testimonial-section-illustration .testimonial-section-illustration-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 $spacer;
}

.testimonial-section-organizations {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.testimonial-section-organizations-item {
  position: relative;
  display: block;
  height: 0;
  padding: 0 0 percentage(0.5);
  margin-bottom: $spacer;
  background: $white;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: $card-spacer-y $card-spacer-x;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
