@import "~components/bootstrap/core";

$services-section-padding-y: 4 * $spacer;

.services-section {
  padding-top: $services-section-padding-y;
  padding-bottom: $services-section-padding-y;

  @include media-breakpoint-up("md") {
    padding-left: 4 * $spacer;
    padding-right: 4 * $spacer;
  }

  .row {
    //align-items: center;
    //justify-content: center;
    //background-color: #bbe0ff;
  }

  &:nth-child(odd) .row {
    flex-direction: row-reverse;
    background-color: #fff9c4;
  }

  @include media-breakpoint-down("sm") {
    .row > :not(:last-child) {
      margin-bottom: $spacer;
    }
  }
}

.services-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  max-width: 100px;
  width: 100%;
  height: auto;
  margin-left: auto;
}

.services-logo-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  margin: auto;
}

.services-screenshot {
  //height: 200px;
  //width: auto;
  //max-width: 300px;
  //display: block;
  width: 100%;
  height: auto;
}
