@import "~components/bootstrap/core";

.services-section {
  //background-color: $gray-200;
}

.services-logo {
  border-radius: 50%;
  height: 100px;
  width: auto;
}

.services-screenshot {
  height: 200px;
  width: auto;
  max-width: 300px;
}
