@import "../bootstrap/core";

$pin-size: 3rem;

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.world-map-pin {
  $size: $pin-size;

  position: absolute;
  cursor: pointer;
  width: $size;
  height: $size;
  padding: 4px;
  margin: (-1 * $size) 0 0 ($size / -2);
  border-radius: 50%;
  background: $primary;

  &:hover {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: zoom;
    transform-origin: center bottom;
  }
}

.world-map-pin:after {
  content: "";
  position: absolute;
  bottom: -10px / 1.44;
  left: $pin-size / 2;
  border-width: 10px 10px 0;
  border-style: solid;
  margin-left: -10px;
  border-color: #b75400 transparent;
  display: block;
  width: 0;
}

.world-map-pin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
