@use 'sass:math';

@import 'components/bootstrap/core';

.key-feature {
  flex: 1 1;
  display: block;
  margin: 0 0 $spacer;
  font-size: $font-size-lg;
  text-align: center;
}

.key-feature-icon {
  display: block;
  margin: 0 auto $spacer;
  width: 30%;
  height: auto;
  transform-origin: 50% 100%;
  transition: transform 3s;
}

.key-feature-list {
  list-style: none;
  margin: 0 0 (-$spacer);
  padding: 0;

  @include media-breakpoint-up('sm') {
    display: flex;
    margin-left: math.div($grid-gutter-width, -2);
    margin-right: math.div($grid-gutter-width, -2);

    > .key-feature {
      padding-left: $grid-gutter-width * 0.5;
      padding-right: $grid-gutter-width * 0.5;
    }
  }
}

.key-feature-text {
  > :last-child {
    margin-bottom: 0;
  }
}

.key-feature-link {
  display: block;
  margin-top: -1 * $card-spacer-x;
  margin-bottom: -1 * $card-spacer-x;
  padding: $card-spacer-x;
  background: transparent;
  transition: background-color 0.2s;

  &:hover,
  &:focus {
    background: $gray-200;

    .key-feature-icon {
      transform: scale(1.1);
    }
  }
}
