@import 'design-v2/variables';

$spacer: 1.5rem;

.title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  @media (max-width: $breakpoint-sm) {
    font-size: 2rem;
  }
}
.image {
  max-height: 25rem;
  @media (max-width: $breakpoint-sm) {
    width: 100%;
    height: auto;
  }
}

.section {
  &-banner {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100vw;
      height: 2px;
      margin-left: -50vw;
      left: 50%;
      bottom: 25px;
      z-index: -1;
      background: var(--gray-100);
    }

    .column-description {
      .nav-wrapper {
        display: flex;
        gap: 24px;
        margin: 1.5rem 0;
        .link-item {
          color: #666666;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .title {
        font-size: 3.5rem;
        margin-bottom: 1rem;
      }
      .description {
        max-width: 35rem;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 1rem;
      }
      .button-link {
        margin-left: 1rem;
        text-transform: none;
        border-color: $primary;
      }
    }

    .column-velcro {
      a:hover {
        text-decoration: none;

        .velcro-title {
          color: var(--primary);
        }
      }
      .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      .velcro-picture {
        width: 48px;
        height: 48px;
        float: left;
        margin-right: ($spacer * 0.5);
      }
      .velcro-text-block {
        overflow: hidden;
        margin-bottom: ($spacer * 0.5);
      }

      .velcro-title {
        font-size: 1rem;
        display: block;
        color: var(--black);
        margin-bottom: 0.5rem;
      }

      .velcro-description {
        font-size: 0.8rem;
        line-height: 1rem;
        display: inline-block;
        color: var(--gray-800);
      }

      .velcro-wrap {
        background: no-repeat center / contain;
        background-image: url('/images/benefits/background-velcro.svg');
        padding: 40px;
      }
      .velcro {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        padding: 2rem 1.5rem 0.75rem 1.5rem;
        background-color: var(--white);
        position: relative;
        right: 5px;
        bottom: 10px;
        max-width: 420px;
        margin: 0 auto;
      }
    }
  }
}

.services {
  display: flex;
  align-items: center;
  gap: 3rem;
  .info-wrapper {
    display: flex;
    gap: 20px;
    .info {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #212121;
    }
  }
  @media (max-width: $breakpoint-sm) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
  &:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.statistic {
  position: relative;
  background-color: var(--gray-200);
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  .stats {
    display: flex;
    justify-content: space-around;
    max-width: var(--main-content-max-width);
    margin: 0 auto;
  }
  .title {
    text-align: center;
  }
  .stat-title {
    font-size: 0.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    text-align: center;
  }
  mark {
    font-size: 3rem;
    background-color: transparent;
    @media (max-width: $breakpoint-sm) {
      font-size: 1.5rem;
    }
  }
}

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .item {
    flex: 1;
    padding: 1rem;

    @media (max-width: $breakpoint-sm) {
      flex: auto;
    }

    .title-picture {
      margin-right: 14px;
    }

    .join-title {
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 24px;
      color: var(--primary);
    }

    .item-description {
      margin: 14px 0 0 0;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 24px;
      color: #212121;
      min-height: 75px;
      height: max-content;
    }

    &-title {
      color: var(--primary);
    }
  }
}

.join-core {
  display: flex;
  //justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  .add-data-provider-text {
    margin-bottom: 1.5rem;
  }
  .form-block {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    .benefits-description {
      color: #666;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
    .benefits-join {
      margin-top: 34px;
      &:hover {
        color: #fff;
      }
    }
  }
  .img-block {
    text-align: right;
  }
}

.service-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .service {
    flex: 1;
    padding: 1.5rem;
    background: #f5f5f5;
    border-radius: 2px;

    @media (max-width: $breakpoint-sm) {
      flex: auto;
    }

    .headerWrapper {
      display: flex;
      align-items: center;
      .title-picture {
        margin-right: 10px;
        width: 70px;
        height: 46px;
      }
    }

    .service-title {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      color: #212121;
    }

    .service-description {
      margin: 18px 0 34px 0;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 24px;
      color: #212121;
      min-height: 75px;
      height: max-content;
    }

    &-title {
      color: var(--primary);
    }
  }
}

.content {
  ul {
    margin-left: 2rem;
    li {
      list-style: disc;
    }
  }
}

.show-button {
  margin-top: 24px;
  padding-top: 12px;
}

.join-modal {
  max-width: 600px;
  .join-input {
    height: 48px;
    color: #b75400;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .join-message {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    color: #424242;
    margin-bottom: 24px;
    margin-top: -20px;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
  }
}

.gratitude-modal {
  max-width: 482px;
  .body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .img-block {
      height: 215px;
      margin-bottom: 36px;
      .image {
        width: 100%;
        height: 100%;
      }
    }
  }
  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
}

.modal-form {
  .sub-desc {
    margin: 4px 0 24px;
    color: #424242;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }

  .text-field {
    margin-top: 24px;
  }

  .oai-url {
    margin-bottom: 4px;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    button:last-child {
      margin-left: 1rem;
    }
  }
}

.modal-step-form {
  width: 480px;
  .step-header {
    color: #212121;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .step-description {
    margin: 16px 0 24px;
    color: #212121;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.009px;
  }

  .step-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 36px;
    img {
      width: 270px;
      height: 215px;
    }
  }

  .step-button {
    display: flex;
    justify-content: flex-end;
  }
}
