@import 'design-v2/variables';

$spacer: 1.5rem;

.title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  @media (max-width: $breakpoint-sm) {
    font-size: 2rem;
  }
}
.image {
  max-height: 25rem;
  @media (max-width: $breakpoint-sm) {
    width: 100%;
    height: auto;
  }
}

.section {
  &-banner {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100vw;
      height: 2px;
      margin-left: -50vw;
      left: 50%;
      bottom: 25px;
      z-index: -1;
      background: var(--gray-100);
    }

    .column-description {
      .title {
        font-size: 3.5rem;
        margin-bottom: 1rem;
      }
      .description {
        max-width: 35rem;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 1rem;
      }
      .button-link {
        margin-left: 1rem;
        text-transform: none;
        border-color: $primary;
      }
    }

    .column-velcro {
      a:hover {
        text-decoration: none;

        .velcro-title {
          color: var(--primary);
        }
      }
      .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      .velcro-picture {
        width: 48px;
        height: 48px;
        float: left;
        margin-right: ($spacer * 0.5);
      }
      .velcro-text-block {
        overflow: hidden;
        margin-bottom: ($spacer * 0.5);
      }

      .velcro-title {
        font-size: 1rem;
        display: block;
        color: var(--black);
        margin-bottom: 0.5rem;
      }

      .velcro-description {
        font-size: 0.8rem;
        line-height: 1rem;
        display: inline-block;
        color: var(--gray-800);
      }

      .velcro-wrap {
        background: no-repeat center / contain;
        background-image: url('/images/benefits/background-velcro.svg');
        padding: 40px;
      }
      .velcro {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        padding: calc($spacer / 2) $spacer;
        background-color: var(--white);
        position: relative;
        right: 5px;
        bottom: 10px;
        max-width: 420px;
        margin: 0 auto;
      }
    }
  }
}

.services {
  display: flex;
  align-items: center;
  gap: 3rem;
  @media (max-width: $breakpoint-sm) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
  &:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.statistic {
  position: relative;
  background-color: var(--gray-200);
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  .stats {
    display: flex;
    justify-content: space-around;
    max-width: var(--main-content-max-width);
    margin: 0 auto;
  }
  .title {
    text-align: center;
  }
  .stat-title {
    font-size: 0.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    text-align: center;
  }
  mark {
    font-size: 3rem;
    background-color: transparent;
    @media (max-width: $breakpoint-sm) {
      font-size: 1.5rem;
    }
  }
}

.join-core {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .form-block {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
  }
  .img-block {
    text-align: right;
  }
}

.button-custom {
  margin-top: 1rem;
}

.content {
  ul {
    margin-left: 2rem;
    li {
      list-style: disc;
    }
  }
}
