@import '../../components/bootstrap/core';

$hightlight-section-padding-y: 4 * $spacer;

.highlight-section {
  .row {
    align-items: center;
  }

  &:nth-child(odd) .row {
    flex-direction: row-reverse;
  }

  @include media-breakpoint-down('sm') {
    text-align: center;

    .row > :not(:last-child) {
      margin-bottom: $spacer;
    }
  }
}

.highlight-section-picture {
  display: block;
  width: 100%;
  height: auto;
}

.highlight-section mark {
  padding: 0.05em 0.2em;
  border-radius: 0.2em;
  background: mix($success, $white, 50%);
}

@include media-breakpoint-up('md') {
  .highlight-section:nth-child(odd) .image-container {
    order: 1;
  }
}
