@import "../bootstrap/core";

.switcher {
  display: flex;
  flex-wrap: wrap;
  margin-left: ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);

  > * {
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
}

.switcher-item {
  margin-right: -100%;
  margin-bottom: $spacer;
  width: 100%;
  flex: 0 0 100%;
  order: 1;
  opacity: 0;
  transition: 500ms;
  scroll-snap-align: start;

  &.active {
    order: 0;
    opacity: 1;
  }
}

.switcher-item-list {
  display: flex;
  width: 100%;
}

.switcher-content {
  width: 100%;
  margin-bottom: $spacer;

  @include media-breakpoint-up("md") {
    width: 25%;

    & + .switcher-item-list {
      width: 75%;
    }
  }
}

.switcher-controllers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -(map-get($spacers, 1));
}

.switcher-button {
  margin: 0 (map-get($spacers, 1) / 2) map-get($spacers, 1);
  border: $btn-border-width solid transparent;

  &.active {
    border-color: $primary;
  }

  img {
    display: block;
    width: 8rem;
    height: 6rem;
    object-fit: contain;
    filter: saturate(0);
  }

  &.active img {
    filter: none;
  }
}
