@import 'design-v2/variables';

.header {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  .header-left {
    width: 50%;
  }
  .section-wrapper {
    width: 50%;
    gap: 16px;
  }
  .redirect-button-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 8px;
    background: #f5f5f5;
    margin: 16px 0;
    .redirect-links {
      width: calc(100% - 125px);
    }
    .redirect-button {
      width: 125px;
      height: max-content;
      margin-top: 5px;
    }
  }
  .redirect-wrapper {
    padding: 1rem;
    gap: 8px;
    background: #f5f5f5;
    margin: 16px 0;
    .redirect-link {
      line-height: 2rem;
      list-style-type: number;
      text-decoration-line: underline;
      margin-left: 16px;
      cursor: pointer;
    }
  }
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #000000;
  }
  .description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #616161;
    .linker {
      cursor: pointer;
    }
  }
  .buttonGroup {
    margin-top: 24px;
  }
}
.content-wrapper {
  display: flex;
  .content-item {
    width: 100%;
    .item {
      margin-bottom: 44px;
      ul {
        margin-left: 1.5rem;
        li {
          line-height: 2rem;
          list-style-type: disc;
        }
      }
      .main-title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #212121;
      }
      .sub-title {
        font-weight: 600;
        font-size: 20px;
      }
    }
    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }
}
.additional-item {
  margin-bottom: 65px;
  .main-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #212121;
  }
  .main-content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
  }
}
