@import "../bootstrap/core";

.map {
  $width: 100%;

  position: relative;
  display: block;
  padding: 0 0 (1001 / 2000 * $width);
  width: $width;
  height: 0;
  background: transparent url("/static/images/ambassadors/world-map.svg")
    no-repeat center / 100% 100%;
}
