@import "components/bootstrap/core";
@import "../bootstrap/variables";

$page-background: linear-gradient(
    #fff0,
    #ffff 85vh,
    #ffff calc(100% - 85vh),
    #fff0
  ),
  url("paper-background.jpg") !default;
$page-background-breakpoint: md !default;

html,
body {
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;

  > * {
    flex: 1 1 auto;
  }
}

.page-header,
.page-footer {
  flex: 0 0 auto;
}

// Styling
$page-bg: transparent !default;

.page {
  background: repeat-y 50% 0;
  background-size: map-get($grid-breakpoints, $page-background-breakpoint) auto;
  background-image: $page-background;

  @include media-breakpoint-up($page-background-breakpoint) {
    background-size: 100% auto;
  }
}
