@import 'components/bootstrap/core';

$footer-partners-breakpoint: 'sm';

.footer {
  background: $gray-100;
}

.footer-highlights {
  padding-top: $spacer;
  background: $gray-100;

  > * {
    margin-bottom: $spacer;
  }
}

.footer-highlights-list {
  display: block;
  flex-flow: row wrap;
  padding: 0;
  margin: (0.8 * $spacer) ($grid-gutter-width / -2) (-1 * $spacer);

  li {
    display: block;
    margin: 0 ($grid-gutter-width / 2) (0.4 * $spacer);

    a {
      color: red;
      font-size: small;
    }
  }
}

.footer-cite-info {
  padding: $card-spacer-x;
  background: $white;
  display: flex;
  //TODO move ro variables
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  margin-top: -45px;

  .column-left {
    width: 190px;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.footer-partners {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: ($spacer / 2) ($grid-gutter-width / 2);
  margin: 0 ($grid-gutter-width / -2);

  a {
    color: inherit;

    @include hover-focus {
      color: inherit;
    }
  }
}

.footer-partners-item {
  display: block;
  margin: 0;
  padding: ($spacer / 2) ($grid-gutter-width / 2);
}

.footer-partners-logo {
  display: block;
  flex: 1;

  @include media-breakpoint-up($footer-partners-breakpoint) {
    height: 3 * $spacer;
    flex: 0 !important; // to override id's property
  }

  img {
    display: block;
    width: 100%;
    height: auto;

    @include media-breakpoint-up($footer-partners-breakpoint) {
      width: auto;
      height: 100%;
    }
  }
}

.footer-partners-text {
  width: 100%;
  flex-grow: 2;

  @include media-breakpoint-up($footer-partners-breakpoint) {
    max-width: 16rem;
  }

  :last-child {
    margin-bottom: 0;
  }
}

#footer-logo-jisc {
  flex-grow: 0.68;
}

#footer-logo-ou {
  flex-grow: 1;
}
