@import 'design-v2/variables';
$grid-responsive-for-sections: repeat(auto-fit, minmax(300px, 1fr));
$grid-responsive-for-items: repeat(auto-fit, minmax(500px, 1fr));
$support-card-width: 21.5rem;

.nav-wrapper {
  display: flex;
  gap: 24px;
  .link-item {
    color: #666666;
    &:hover {
      text-decoration: none;
    }
  }
}

.principles-wrapper {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: $grid-responsive-for-sections;
  .principles-description {
    background: #f5f5f5;
    padding: 16px;
    margin: 21px 0 45px 0;
    position: relative;
    .principles-description-title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 16px;
      color: #b75400;
    }
    &:not(:last-child) {
      &::after {
        position: absolute;
        bottom: 0;
        right: -1.5rem;
        content: '';
        height: 100%;
        border: 1px dashed var(--gray-300);
      }
    }
  }
}

.how-it-works-wrapper {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: $grid-responsive-for-items;
  margin-top: 48px;
  @media (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .how-it-works-description {
    background: #f5f5f5;
    padding: 16px;
    display: flex;
    position: relative;
    .how-it-works-img-wrapper {
      img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
      }
    }
    .how-it-works-description-title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 16px;
      color: #212121;
    }
    &:nth-child(1),
    &:nth-child(3) {
      &::after {
        position: absolute;
        bottom: 0;
        right: -1.5rem;
        content: '';
        height: 100%;
        border: 1px dashed var(--gray-300);
      }
    }
  }
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($support-card-width, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
  .material-wrapper {
    border-radius: 4px;
    border: 2px solid #9e9e9e;
    height: 213px;
    padding: 8px;
    cursor: pointer;
    .material-inner-wrapper {
      background: #b75400;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 30px;
      height: 100%;
      padding: 0 27px 0 49px;
      .material-title {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0.3px;
      }
    }
  }
  .materials-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .materials-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .button-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      .material-button {
        margin-top: 24px;
        text-align: center;
        width: max-content;
        background: #fff;
        cursor: pointer;
        &:hover {
          background: #fff;
        }
      }
    }
  }
}

.principles {
  display: grid;
  grid-template-columns: $grid-responsive-for-sections;
  align-items: center;
  padding: 0;
  .image {
    width: 100%;
    height: 100%;
  }
}

.main {
  background-color: var(--gray-100);
  p {
    max-width: 75ch;
  }
}

.search {
  margin: 1rem 0;
}

.supporters {
  .table-row {
    cursor: pointer;
    .organisation-wrapper {
      display: flex;
      align-items: center;
      padding-left: 8px;
      .logo-wrapper {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 2px solid #b75400;
        padding: 4px;
        margin: 5px 0;
        .repository-logo {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1),
            inset 0px 1px 2px rgba(0, 0, 0, 0.05);
        }
        @media (max-width: $breakpoint-sm) {
          width: 40px;
          height: 40px;
        }
      }
      td {
        @media (max-width: $breakpoint-sm) {
          padding: 8px;
        }
      }
    }
    .member-column {
      color: var(--primary);
      text-transform: capitalize;
    }
    td {
      @media (max-width: $breakpoint-sm) {
        padding: 8px;
      }
    }
    &:hover {
      background: #eee;
      transition: 0.5s all ease-in-out;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  p {
    margin-bottom: 0;
  }
}

.row {
  border-bottom: none;
}

.pagination-row {
  text-align: right;
  border-bottom: none;
  .pagination-text {
    display: inline-block;
    margin-right: 32px;
    margin-top: 32px;
  }
}

.icon {
  color: var(--gray-700);
}
.icon-disabled {
  color: var(--gray-300);
}
