@use 'sass:map';
@import 'components/bootstrap/core';

.logo {
  background: no-repeat center / contain;
  background-image: url('/images/oai_resolve/logo.svg');
  display: block;
  width: 191px;
  height: 82px;
}

.oaiResolveForm p {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 72px;
}

.submit-section {
  margin-top: 1rem;
}

.select {
  z-index: 1;
}

.section-block {
  padding-left: 40px;
  padding-right: 40px;
}

#sections .row {
  margin-right: -40px;
  margin-left: -40px;
}

.section-block span {
  width: 74%;
  height: 2px;
  background-color: #b75400;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  transform: translate(-50%);

  &:after {
    border-width: 6px 13px 6px;
    display: block;
    right: -18px;
    top: -5px;
    border-left-color: #b75400;
    content: '';
    position: absolute;
    border-style: solid;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

.imgBlock img {
  width: 466px;
  float: right;
}

.helper {
  font-size: var(--form-helper-font-size);
  color: var(--form-helper-color);
  padding-right: var(--form-control-padding-x);
  padding-top: var(--form-control-padding-y);
  margin-top: calc(1.5rem - 1em);
  display: block;
}

.helperLink {
  color: var(--form-helper-color);
  text-decoration: underline;
  cursor: pointer;
}

#set-oai-resolve {
  padding-top: 0;
}

.col-md-3 {
  padding-left: 25px;
  padding-right: 25px;
}

$grid-breakpoints-md: map.get($grid-breakpoints, 'md');
$grid-breakpoints-sm: map.get($grid-breakpoints, 'sm');

@media (max-width: $grid-breakpoints-md) {
  .section-block span {
    width: 65%;
    left: 45%;
  }
}

@media (max-width: $grid-breakpoints-sm) {
  .section-block span {
    width: 90%;
    left: 50%;
  }
  .section-block {
    margin-bottom: 15px;
  }
}
