@import "../bootstrap/core";

$hero-padding-vertical: map-get($spacers, 5);
$hero-background: url("../images/backgrounds/brandi-redd-122054-unsplash.jpg");

.hero {
  padding-top: $hero-padding-vertical;
  padding-bottom: $hero-padding-vertical;
  // background: $white $hero-background no-repeat top center / cover;
}
