@import './variables';
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  @media (max-width: $breakpoint-lg) {
    justify-content: space-around;
  }

  @media (max-width: $breakpoint-sm) {
    display: block;
  }

  .item {
    flex-basis: calc(((100vw - (var(--page-padding-x) * 2)) / 3) - 2rem);
    padding: 2rem;
    border: 0.1rem solid var(--gray-400);
    border-radius: 0.4rem;
    background-color: var(--gray-100);
    &:not(:last-child) {
      @media (max-width: $breakpoint-sm) {
        margin-bottom: 1rem;
      }
    }

    .icon {
      margin-bottom: 1.2rem;
    }
    .title {
      margin-bottom: 1.5rem;
    }
    &:hover {
      border: 0.1rem solid var(--primary);
      border-radius: 0.2rem;
      background-color: var(--gray-200);
    }
  }
}
