.header {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.meta {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  .icon {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    transform: scale(1.4);
  }

  .title {
    display: inline-block;
  }
}
.description {
  max-width: 60ch;
  margin-bottom: 4rem;
  line-height: 1.8;
}
