.box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--gray-100);
  padding: 1.5rem;
  &-text {
    line-height: 2;
    flex: 1;
  }
  &-button {
    text-align: right;
    flex: 0.6;
  }
}
