@import 'components/bootstrap/core';

.cookies-form {
  background: $gray-200;
  border: 0;

  .custom-control-label {
    font-weight: $font-weight-bold;
  }
}

.cookies-form-details {
  margin-left: $custom-switch-width + $custom-control-gutter;

  > summary {
    font-style: italic;
  }
}
