@import "../bootstrap/core";

.team-member {
  flex: 1;
}

.team-member-picture {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
  background: url("./man.svg") no-repeat center / 70% auto;

  img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

.team-member-name {
}

.team-member-role {
  font-style: italic;
  margin-bottom: $card-spacer-y;
}
