.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  img {
    margin-bottom: var(--spacer);
  }
}

.group {
  display: flex;
  gap: 1rem;
}
