@import 'design-v2/variables';

.layout {
  padding: var(--page-padding-y) var(--page-padding-x);
}
.container {
  padding: var(--page-padding-y) 0;

  @media (max-width: $breakpoint-sm) {
    --page-padding-y: 2rem;
  }
}

.full {
  position: relative;
  width: 99.5vw;
  height: 100%;
  margin-left: -50vw;
  left: 50%;
  z-index: 1;
  > div {
    padding: 0 var(--page-padding-x);
  }
}
