@import "../bootstrap/core";

.navbar-search-form {
  padding-right: $navbar-padding-x;
  padding-left: $navbar-padding-x;

  > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .navbar-search-form {
          .input-group {
            @include sr-only();
            opacity: 0;
          }

          &:focus-within,
          &:valid {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $nearly-black;
            z-index: $zindex-dropdown + 5;
            transition: background 0.2s;

            .navbar-search-form-label {
              @include sr-only();
            }

            .input-group {
              position: static;
              width: auto;
              height: auto;
              overflow: visible;
              clip: auto;
              white-space: normal;
              opacity: 1;
              transition: opacity 0.2s;
            }
          }
        }

        .navbar-search-form-label {
          cursor: pointer;
          margin-bottom: 0;
          margin-left: -1 * $navbar-padding-x;
          padding-right: $navbar-padding-x / 2;
          padding-left: $navbar-padding-x / 2;
          border-bottom: $primary solid 2px;

          &::before {
            content: "\1f50d\00a0";
          }
        }
      }

      @include media-breakpoint-up($next) {
        .navbar-search-form {
          min-width: 0.75 * $content-max-width;
          max-width: $content-max-width;
          transition: flex-grow 0.2s;

          & ~ .navbar-collapse {
            flex-grow: 0;
          }

          &:focus-within,
          &:valid {
            flex-grow: 1;
          }
        }

        .navbar-search-form-label {
          @include sr-only();
        }
      }
    }
  }
}
