@import '../bootstrap/core';

.search-suggestions {
  display: inline-block;

  &:empty {
    display: none;
  }
}

.search-suggestions-heading {
  display: inline-block;
  padding-right: $list-inline-padding;
}
