@import "../bootstrap/core";

$chevron-icon: url("../icons/chevron-top.svg");
$accordion-title-size: $font-size-lg !default;
$accordion-title-weight: $font-weight-normal !default;
$accordion-icon-size: $accordion-title-size + 1rem !default;
$accordion-spacer-left: $accordion-icon-size + $card-spacer-x !default;

.accordion {
  // Restore borders after Bootstrap
  .card,
  .card:first-of-type,
  .card:not(:first-of-type):not(:last-of-type) {
    border: solid $card-border-color;
    border-width: $card-border-width 0;
  }
}

.accordion-item {
  border: solid $card-border-color;
  border-width: $card-border-width 0;

  .card-header {
    position: relative; // to align link icon
    padding-left: $accordion-spacer-left;
    background: transparent;
    border-bottom: 0;
  }

  .card-body {
    padding-left: $accordion-spacer-left;
  }

  + .accordion-item {
    margin-top: map-get($spacers, 2);
  }
}

.accordion-title {
  // override h*-element styles
  margin-bottom: 0 !important;
  font-size: $accordion-title-size !important;
  font-weight: $accordion-title-weight !important;
}

.accordion-link {
  display: inline-block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: ((2 * $card-spacer-y + $accordion-title-size) - $accordion-icon-size) /
      2;
    left: 0;
    display: block;
    box-sizing: content-box;
    margin: $card-border-width 0 0;
    padding: ($accordion-icon-size - $accordion-title-size) / 2;
    width: $accordion-title-size;
    height: $accordion-title-size;
    background-color: $primary;
    transform: rotate(180deg);
  }

  &::after {
    content: $chevron-icon;
    background: transparent;
    transition: 0.35s;

    .accordion-item.active > .accordion-header & {
      transform: none;
    }
  }
}
