@import "../bootstrap/core";

$chevron-icon: url("../icons/chevron-top.svg");
$accordion-icon-size: 2rem;
$accordion-spacer-left: $accordion-icon-size + $card-spacer-x;

.accordion {
  .card {
    border: solid $card-border-color;
    border-width: $card-border-width 0;
  }

  // Restore borders after Bootstrap
  .card,
  .card:first-of-type,
  .card:not(:first-of-type):not(:last-of-type) {
    border: solid $card-border-color;
    border-width: $card-border-width 0;
  }

  .card:not(:last-of-type) {
    margin-bottom: map-get($spacers, 2);
  }

  .card .card-header {
    border-bottom: 0;
  }

  .card-header {
    position: relative; // to align link icon
    padding-left: $accordion-spacer-left;
    background: transparent;
  }

  .card-body {
    padding-left: $accordion-spacer-left;
  }
}

.accordion-title {
  // override h*-element styles
  margin-bottom: 0 !important;
  font-size: $font-size-base !important;
}

.accordion-link {
  display: inline-block;

  &::before {
    content: $chevron-icon;
    position: absolute;
    top: ((2 * $card-spacer-y + $font-size-base) - $accordion-icon-size) / 2;
    left: 0;
    display: block;
    box-sizing: content-box;
    margin: $card-border-width 0 0;
    padding: ($accordion-icon-size - $font-size-base) / 2;
    width: $font-size-base;
    height: $font-size-base;
    background-color: $primary;
  }
}
