@import "~components/bootstrap/core";

.about-services-section {
  @include section-skew-left($blue-light);
}

.about-endorsements-section {
  @include section-skew-left($blue-light);

  img {
    width: auto;
    height: 100px;
    margin-bottom: $spacer;
  }
}

.contact-card {
  margin-top: -1 * $card-spacer-y;
  padding-top: $card-spacer-y;
  border: 0;
  transition: $transition-base;

  &.active {
    background: $beige;
  }

  .card-body {
    margin-top: $spacer;
  }
}

.contact-card-toggle {
  align-self: flex-start;

  &:disabled {
    border-color: transparent;
  }
}
