@import '~components/bootstrap/core';

.related {
  @include section-skew-left($gray-100);
  text-align: center;

  > h2 {
    font-style: italic;
  }

  > p:last-child {
    margin-bottom: 0;
  }
  &-extra-button {
    margin-left: 1rem;
  }
  .governance-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .governance-image {
      margin: 42px 0 32px 0;
    }
  }
}

.related-icon {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: -2.5rem auto 0.5rem;
}

.services {
  background-color: var(--white);
  border: none;
}

.mission ul {
  padding-left: 1rem;
  list-style: disc;
}

.outreach-materials-card {
  flex: 1;
  margin-bottom: 1.5rem !important;
}

.outreach-materials-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  label {
    font-weight: bold;
  }
}

.outreach-materials-link {
  margin-top: auto;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-modal {
  position: relative;
  background-color: #fff;
  padding: 16px;
  gap: 24px;
  width: 1216px;
  height: max-content;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  .badge-title {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #212121;
  }
  .badge-container {
    display: flex;
    gap: 2rem;
    .badge-description {
      margin-top: 1rem;
      margin-left: 1rem;
      line-height: 1.5rem;
      color: var(--gray-900);
      .badgeWrapper {
        margin-top: 32px;
        display: flex;
        .column {
          .card-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 90px;
            margin-bottom: 24px;
            .img-wrapper {
              display: flex;
              justify-content: flex-end;
              width: 45%;
              padding-right: 24px;
              .image {
                width: 100%;
                object-fit: contain;
              }
              .badge-image {
                width: max-content;
                height: 40px;
              }
              .badge-image-height {
                height: 90px;
              }
            }
            .text-alignment {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: 50%;
              height: 40px;
              padding-left: 24px;
              border-left: 1px dashed #9e9e9e;
              .text {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                color: #000;
              }
            }
            @media (max-width: 1080px) {
              min-height: 60px;
              margin-bottom: 16px;
            }
          }
        }
        @media (max-width: 1080px) {
          flex-direction: column;
        }
      }
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: flex-end;
    .close-modal {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background-color: transparent;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.modal-content {
  margin-top: 20px;
}

.header {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  .description {
    max-width: 50ch;
    font-size: 1.3rem;
    color: var(--gray-700);
    margin-bottom: 3rem;
  }
  .title {
    max-width: 25ch;
  }
}

.logo-container {
  width: 520px;
  height: 261px;
  padding: 1rem;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.researchSection {
  padding: 0 0 44px 0;
  grid-template-columns: 1fr 100% 1fr;
  .always-open {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .toggle-panel-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.0015em;
    color: #ffffff;
    background: #b75400;
    border-radius: 2px;
    padding: 15px 10px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .toggle-panel-sub-title {
    margin: 24px 4px 0;
  }
  .card-title {
    padding: 10px 14px;
    display: flex;
    align-content: center;
    background: #f5f5f5;
    height: max-content;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #b75400;
  }
  .card-title-column {
    min-height: 100px;
  }
  .card-wrapper {
    display: flex;
    padding: 14px;
    gap: 20px;
    .card-header {
      display: flex;
      align-items: center;
      gap: 16px;
      height: max-content;
    }
    .card-header-column {
      min-height: 96px;
    }
    .card-header-height {
      min-height: 120px;
    }
    .item-wrapper {
      width: 50%;
      .card-info-description {
        margin-top: 18px;
        height: max-content;
      }
      .card-info-description-column {
        min-height: 170px;
      }
      .card-wrapper-height {
        min-height: 480px;
      }
    }
    .item-wrapper-column {
      width: 100%;
    }
    .url-wrapper {
      width: 50%;
    }
    .url-wrapper-column {
      width: 100%;
    }
  }
  .card-wrapper-column {
    flex-direction: column;
  }
}

.toggle-item {
  width: 100%;
}

.toggle-item-small {
  width: 48%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 24px;
  margin-top: 24px;
  .footer-text {
    margin-bottom: 0;
  }
}
