@import '~components/bootstrap/core';

.related {
  @include section-skew-left($gray-100);
  text-align: center;

  > h2 {
    font-style: italic;
  }

  > p:last-child {
    margin-bottom: 0;
  }
  &-extra-button {
    margin-left: 1rem;
  }
}

.related-icon {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: -2.5rem auto 0.5rem;
}

.services {
  background-color: var(--white);
  border: none;
}
