@import '~components/bootstrap/core';

$skew-section-icon-size: 4rem;

.about-services-section {
  @include section-skew-left($blue-light);

  > p:last-child {
    margin-bottom: 0;
  }
}

.about-endorsements-section {
  @include section-skew-left($blue-light);
  text-align: center;

  &::before {
    $icon-size: $skew-section-icon-size;

    content: '';
    position: relative;
    top: -1 * $spacer;
    display: block;
    grid-column: 2;
    width: 2 * $icon-size + $spacer;
    height: $icon-size;
    margin: 0 auto;
    background: url('/images/icons/university.svg') no-repeat 0 50%,
      url('/images/icons/factory.svg') no-repeat 100% 50%;
    background-size: auto 100%;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

.about-endorsements-section-title {
  font-style: italic;
}

.about-ambassadors-section {
  @include section-skew-left($blue-light);
  text-align: center;

  &::before {
    $icon-size: $skew-section-icon-size;

    content: '';
    position: relative;
    top: -1 * $spacer;
    grid-column: 2;
    display: block;
    width: $icon-size;
    height: $icon-size;
    margin: 0 auto;
    /* Icon made by Freepik (https://www.flaticon.com/authors/freepik) */
    background: url('/images/icons/group.svg') no-repeat center / contain;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

.contact-card {
  margin-top: -1 * $card-spacer-y;
  padding-top: $card-spacer-y;
  border: 0;
  transition: $transition-base;

  &:global(.active) {
    background: $beige;
  }

  :global(.card-body) {
    margin-top: $spacer;
  }
}

.contact-card-toggle {
  align-self: flex-start;

  &:disabled {
    border-color: transparent;
  }
}
