@import "~components/bootstrap/core";

.about-services-section {
  @include section-skew-left($blue-light);
}

.about-endorsements-section {
  @include section-skew-left($blue-light);
  text-align: center;

  &::before {
    $icon-size: 4rem;

    content: "";
    position: relative;
    top: -1 * $spacer;
    display: block;
    width: 2 * $icon-size + $spacer;
    height: $icon-size;
    margin: auto;
    background: url("../../static/images/icons/university.svg") no-repeat 0 50%,
      url("../../static/images/icons/factory.svg") no-repeat 100% 50%;
    color: red;
    background-size: auto 100%;
  }
}

.about-endorsements-section-title {
  font-style: italic;
}

.contact-card {
  margin-top: -1 * $card-spacer-y;
  padding-top: $card-spacer-y;
  border: 0;
  transition: $transition-base;

  &.active {
    background: $beige;
  }

  .card-body {
    margin-top: $spacer;
  }
}

.contact-card-toggle {
  align-self: flex-start;

  &:disabled {
    border-color: transparent;
  }
}

.ambassadors-page-title {
  font-weight: $font-weight-bold;
  text-align: center;
}

.ambassadors-page-title-small {
  display: block;
  font-size: 0.4em;
  font-weight: $font-weight-normal;
  margin-top: $spacer;
}

.ambassador-new-member,
.team-member {
  flex: 1;
  text-align: center;
  box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.44);
}

.ambassador-member-picture {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;

  img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

.map {
  $width: 100%;

  position: relative;
  display: block;
  padding: 0 0 (1001 / 2000 * $width);
  width: $width;
  height: 0;
  background: transparent url("/static/images/ambassadors/world-map.svg")
    no-repeat center / 100% 100%;
}

//.pin {
//  $size: 10px;
//
//  position: absolute;
//  width: $size;
//  height: $size;
//  border-radius: 50%;
//  background: $primary;
//
//  transform: translate($size / -2, $size / -2);
//}

.pin {
  position: absolute;
  cursor: pointer;
  background: #b75400;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -110px;
  border-radius: 10px;
  padding: 0;
}

.pin:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #b75400 transparent;
  display: block;
  width: 0;
}

.pin img {
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 50px;
}
