@import "~components/bootstrap/core";

$skew-section-icon-size: 4rem;

.about-services-section {
  @include section-skew-left($blue-light);
}

.about-endorsements-section {
  @include section-skew-left($blue-light);
  text-align: center;

  &::before {
    $icon-size: $skew-section-icon-size;

    content: "";
    position: relative;
    top: -1 * $spacer;
    display: block;
    width: 2 * $icon-size + $spacer;
    height: $icon-size;
    margin: auto;
    background: url("../../static/images/icons/university.svg") no-repeat 0 50%,
      url("../../static/images/icons/factory.svg") no-repeat 100% 50%;
    background-size: auto 100%;
  }
}

.about-endorsements-section-title {
  font-style: italic;
}

.about-ambassadors-section {
  @include section-skew-left($blue-light);
  text-align: center;

  &::before {
    $icon-size: $skew-section-icon-size;

    content: "";
    position: relative;
    top: -1 * $spacer;
    display: block;
    width: $icon-size;
    height: $icon-size;
    margin: auto;
    /* Icon made by Freepik (https://www.flaticon.com/authors/freepik) */
    background: url("../../static/images/icons/group.svg") no-repeat center /
      contain;
  }
}

.contact-card {
  margin-top: -1 * $card-spacer-y;
  padding-top: $card-spacer-y;
  border: 0;
  transition: $transition-base;

  &.active {
    background: $beige;
  }

  .card-body {
    margin-top: $spacer;
  }
}

.contact-card-toggle {
  align-self: flex-start;

  &:disabled {
    border-color: transparent;
  }
}
