@import 'components/bootstrap_design-v2/core';

.services-page-title {
  font-style: italic;
  font-weight: $font-weight-bold;
  text-align: center;
}

.services-page-title-small {
  display: block;
  font-size: 0.4em;
  font-weight: $font-weight-normal;
}

.services-page-title + :global(.article-nav) {
  justify-content: center;
}

.service-section-title {
  align-items: center;
  text-align: center;

  @include media-breakpoint-up('sm') {
    text-align: left;
  }
}

.service-section-picture {
  display: block;
  width: 100%;
  height: auto;
}

.service-section-content {
  .service-section:nth-child(odd) & {
    flex-direction: row-reverse;
  }
}

.statistic {
  background-color: $gray-100;

  .title {
    font-size: 3rem;
    font-weight: 500;
    margin: ($spacer * 2) 0;
  }
  .stat-title {
    font-size: 0.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  .stat-value {
    font-size: 3rem;
    text-align: center;
  }
}

.join-core {
  .form-block {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
  }
  .img-block {
    text-align: right;
  }
}
