@import '~components/bootstrap/core';

.home-switcher {
  :global(.switcher-item) {
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 5);
  }

  :global(.blockquote) {
    margin: 0 auto;
    max-width: 60ch;
  }
}

.home-endorsements-section {
  overflow: hidden;
  background: $beige;
}

.home-academic-institutions-section {
  position: relative;

  & > * {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2000px;
    width: 1000%;
    height: 100%;
    background: $beige-dark;
  }
}
