@import "~components/bootstrap/core";

.blockquote {
  margin-top: 2rem;
  font-size: 1rem;
}

.home-switcher {
  .switcher-item {
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 5);
  }

  .blockquote {
    margin: 0 auto;
    max-width: 60ch;
    font-size: 1.125rem;
  }
}

.home-endorsements-section {
  background: $beige;
}

.home-academic-institutions-section {
  background: $beige-dark;
}
