@import "../components/bootstrap/core";

.home-switcher {
  padding: map-get($spacers, 5) 0;
  // background: #f2f4ef;

  .switcher-item {
    padding: map-get($spacers, 5) 0;
  }

  .blockquote {
    margin: 0 auto;

    @include media-breakpoint-up("sm") {
      width: 50%;
    }
  }
}

#endorsements {
  background: $beige;
}

#academic-institutions {
  background: $beige-dark;
}
