@import '~components/bootstrap/core';

.home-switcher {
  :global(.switcher-item) {
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 5);
  }

  :global(.blockquote) {
    margin: 0 auto;
    max-width: 60ch;
  }
}

.home-academic-institutions-section {
  background: $gray-100;
}

.research-section {
  background: $gray-100;
}
.research-columns {
  display: flex;
}
.research-column {
  flex-basis: 50%;
}
.research-column:last-child {
  text-align: right;
}
