@import 'components/bootstrap/core';

.logo {
  background: no-repeat center / contain;
  background-image: url('/images/oai_resolve/logo.svg');
  display: block;
  width: 191px;
  height: 82px;
}

.oaiResolveForm p {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 72px;
}

.submit-section {
  margin-top: 1rem;
}

.section-block span {
  width: 90%;
  height: 2px;
  background-color: #b75400;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  transform: translate(-50%);

  &:after {
    border-width: 6px 13px 6px;
    display: block;
    right: -18px;
    top: -5px;
    border-left-color: #b75400;
    content: '';
    position: absolute;
    border-style: solid;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

.imgBlock img {
  width: 466px;
  float: right;
}
