/**
 * 1. Ideally, could be global
 */
.page {
  --min-text-width: 35ch;
  --max-text-width: 70ch;
  --break-width: calc(var(--min-text-width) * 2 + var(--column-gap));
  --column-gap: 2rem;
  --line-width: 4px;
  --line-color: var(--gray-300);
  --circle-size: 1.5rem;
}

/* Workaround for changed content width */
.page :global(.content) {
  max-width: var(--max-text-width);
}

.hero {
  padding-bottom: 0;
}

.blobs-background {
  background: url('assets/side-curve-left.svg') top left / contain,
    url('assets/side-curve-right.svg') top right / contain;
  background-repeat: no-repeat;
}

.blobs-background-homepage {
  background: url('assets/side-curve-left.svg') top left / 4.5%,
    url('assets/side-curve-right.svg') top right / 5.4%;
  background-repeat: no-repeat;
}

.link-logo:link,
.link-logo:visited,
.link-logo:hover,
.link-logo:active {
  text-decoration: none;

  div[class^='logo_logo'] {
    color: #212121;
  }
}
