.maintenanceBanner {
  width: 100%;
  padding: 6px 0;
  text-align: center;
  background: #fdd835;
}

.maintenanceBannerText {
  margin: 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 18.2px */
  letter-spacing: 0.006px;
}
