@import "../components/bootstrap/core";

.service-section {
}

.service-section-title {
  align-items: center;
  text-align: center;

  @include media-breakpoint-up("sm") {
    text-align: left;
  }
}

.service-section-logo {
  img {
    border-radius: 50%;
    max-width: 100px;
    width: 100%;
    height: auto;
  }

  @include media-breakpoint-up("sm") {
    text-align: right;

    .service-section:nth-child(odd) & {
      width: auto !important;
      flex-basis: auto !important;
    }
  }
}

.service-section-screenshot {
  display: block;
  width: 100%;
  height: auto;
}

.service-section-content {
  .service-section:nth-child(odd) & {
    flex-direction: row-reverse;
  }
}

.service-section-footer {
  text-align: center;
  margin: map-get($spacers, 1) / -2;

  @include media-breakpoint-up("sm") {
    text-align: left;
  }

  .btn {
    margin: map-get($spacers, 1) / 2;
  }
}

.service-page {
  .article-nav {
    margin-bottom: $spacer;
  }
}

.service-page-tagline {
  @include font-size($lead-font-size);
  font-weight: $headings-font-weight;
  text-align: center;
}

.service-page-screenshot {
  max-width: $content-max-width;
  margin-right: auto;
  margin-left: auto;

  img {
    display: block;
    width: 100%;
    margin: $spacer auto;
  }

  figcaption {
    text-align: center;
  }
}

.service-page-features {
  padding-top: $section-sm-spacer;
  padding-bottom: $section-sm-spacer;
}

.service-page-content {
  margin-bottom: $section-sm-spacer;
  margin-left: auto;
  max-width: $content-max-width;
}

.service-page-testimonial {
  max-width: 75%; // 9/12 columns
  max-width: calc(
    #{$content-max-width} + #{$blockquote-padding-left + $blockquote-avatar-size +
      $spacer}
  );
}
