@use 'sass:math';

@import 'components/bootstrap/core';

.modal {
  &-form {
    max-height: 85vh;
    input {
      border: 1px solid var(--gray-300);

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &:focus {
        border: 1px solid var(--primary);
      }
    }

    textarea {
      border: 1px solid var(--gray-300);

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &:focus {
        border: 1px solid var(--primary);
      }
    }

    &-text {
      padding: 1rem;
      &-bordered {
        * {
          background-color: var(--gray-100);
        }
        h6 {
          margin-bottom: 0;
          padding: 1rem 1rem 0rem 1rem;
          color: #424242;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
        }
        p {
          padding: 1rem;
          margin-bottom: 1rem;
          color: #424242;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
    &-input-org {
      input::placeholder {
        @include media-breakpoint-down('sm') {
          font-size: 0.8rem;
        }
      }
      textarea::placeholder {
        @include media-breakpoint-down('sm') {
          font-size: 0.8rem;
        }
      }
    }
    .description {
      textarea {
        height: 104px;
      }
    }
  }
  &-sm {
    max-width: 20rem;
    &-content {
      div {
        text-align: center;
      }
      p {
        margin-top: 1rem;
      }
      span {
        color: var(--primary);
      }
    }
  }
  &-bg {
    max-width: 28rem;
  }
}

.profiles {
  border: none;
  border: 1px solid var(--gray-300);
  padding: 0 0.5rem 0.5rem 0.5rem;
  &-title {
    width: auto;
    margin-left: 0.5rem;
    font-size: 12px;
    color: var(--primary);
    background-color: var(--white);
    margin-bottom: 0;
  }
  &-items {
    display: flex;
    align-items: center;
    //TODO temp remove
    //justify-content: center;

    @include media-breakpoint-down('sm') {
      flex-wrap: wrap;
    }
  }
  &-item {
    flex-basis: 50%;
    min-width: auto;
    margin: 0 0.2rem;
    text-transform: capitalize;
    cursor: pointer;

    &:hover,
    &-active {
      background-color: var(--primary);
      color: var(--white);
    }

    &-text {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      span {
        margin-left: 1rem;
      }
    }

    @include media-breakpoint-down('sm') {
      flex-basis: 45%;
      margin-bottom: 0.5rem;
    }
  }
}

.modal-form-text {
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.035px;
}

.radio-items-wrapper {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.04);
  padding: 10px 16px;
  margin: 0 0 24px 0;
}

.radio-items-inner-wrapper {
  display: flex;
  justify-content: space-between;
  .radio-title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .radio-description {
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.022px;
    margin-left: 40px;
  }
  .none {
    color: #666;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.022px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
}

.popover-content {
  max-width: 215px;
}

.radio-items-title {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.035px;
  margin-bottom: 16px;
}

.radio-description li {
  list-style-type: disc;
}

.input-group {
  width: 100%;
  display: flex;

  @include media-breakpoint-down('sm') {
    flex-wrap: wrap;
  }

  &-item {
    width: 100%;
    &:not(:last-child) {
      padding-right: 0.5rem;
    }
    &:not(:first-child) {
      padding-left: 0.5rem;
    }

    @include media-breakpoint-down('sm') {
      &:not(:last-child) {
        padding-right: 0;
      }
      &:not(:first-child) {
        padding-left: 0;
      }
    }
  }
}

.text-box {
  input {
    height: 105px;
    vertical-align: top;
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button:last-child {
    margin-left: 1rem;
  }
}

.select {
  ul {
    position: relative;
    max-height: 12.5rem;
  }
}

.error input {
  border: 1px solid var(--danger-dark);
  color: var(--danger-dark);
  background: var(--danger-light-background);
}

.error label {
  color: var(--danger-dark);
}

.word-count {
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.035px;
  padding-left: 1rem;
}

.institution-subtitle {
  color: #424242;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 24px;
  padding-left: 1rem;
}

.exceeded-limit {
  background: red;
}

.type-main-wrapper {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.04);
  padding: 10px 16px;
  margin: 0 0 24px 0;
  .type-wrapper {
    .title-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .title {
        color: #424242;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
      }
    }
    .type-text {
      color: #424242;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
  }
}

.dropdown-input {
  width: 100%;
}

.dropdown-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-options {
  position: absolute;
  width: 95%;
  max-height: 250px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.25);
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 9999;
  &.hasValue {
    box-shadow: none;
  }
}

.dropdown-option {
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: #f2f2f2;
  }
}

.eligibility-wrapper {
  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.04);
  margin-bottom: 8px;
  .eligibility-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #424242;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.022px;
  }
}

.customTextField .control {
  padding-top: 1.5em;
}

.customTextField.focus .control {
  padding-top: 0.5em;
}

.checked-wrapper {
  display: flex;
  align-items: center;
  .img-wrapper {
    width: 20px;
    height: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .checked-text {
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.026px;
    margin-left: 16px;
  }
}
