@import 'components/bootstrap/core';

.modal {
  &-form {
    input {
      border: 1px solid var(--gray-300);
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &:focus {
        border: 1px solid var(--primary);
      }
    }
  }
  &-sm {
    max-width: 20rem;
    &-content {
      div {
        text-align: center;
      }
      p {
        margin-top: 1rem;
      }
      span {
        color: var(--primary);
      }
    }
  }
}

.profiles {
  border: none;
  box-shadow: inset 0 0 0 1px hsl(var(--card-color, var(--on-surface)) / 0.12);
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin-bottom: 1rem;
  &-title {
    width: auto;
    margin-left: 0.5rem;
    font-size: 12px;
    color: var(--primary);
    background-color: var(--white);
    margin-bottom: 0;
  }
  &-items {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down('sm') {
      flex-wrap: wrap;
    }
  }
  &-item {
    flex-basis: 25%;
    min-width: auto;
    margin: 0 0.2rem;
    text-transform: capitalize;
    cursor: pointer;

    &:hover,
    &-active {
      background-color: var(--primary);
      color: var(--white);
    }

    &-text {
      display: flex;
      align-items: flex-end;
      span {
        margin-left: 1rem;
      }
    }

    @include media-breakpoint-down('sm') {
      flex-basis: 45%;
      margin-bottom: 0.5rem;
    }
  }
}

.input-group {
  width: 100%;
  display: flex;

  @include media-breakpoint-down('sm') {
    flex-wrap: wrap;
  }

  &-item {
    width: 100%;
    &:not(:last-child) {
      padding-right: 0.5rem;
    }
    &:not(:first-child) {
      padding-left: 0.5rem;
    }

    @include media-breakpoint-down('sm') {
      &:not(:last-child) {
        padding-right: 0;
      }
      &:not(:first-child) {
        padding-left: 0;
      }
    }
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button:last-child {
    margin-left: 1rem;
  }
}

.select {
  ul {
    position: relative;
    max-height: 12.5rem;
  }
}
