@import "../bootstrap/core";

$article-padding-y: 8 * $spacer;
$section-padding-y: 3 * $spacer;
$section-sm-padding-y: 2 * $spacer;

.content {
  h2,
  .h2 {
    margin-top: 2 * $section-padding-y;
  }

  h3,
  .h3 {
    margin-top: 2 * $section-sm-padding-y;
  }

  h4,
  .h4 {
    margin-top: 2 * $spacer;
  }
}

.section {
  padding-top: $section-padding-y;
  padding-bottom: $section-padding-y;

  > .section {
    padding-top: $section-sm-padding-y;
    padding-bottom: $section-sm-padding-y;

    &:last-child {
      padding-bottom: $section-padding-y;
      margin-bottom: -$section-padding-y;
    }
  }
}

.article {
  padding-top: $article-padding-y;
  padding-bottom: $article-padding-y;

  & > .section:last-child {
    padding-bottom: $article-padding-y;
    margin-bottom: -$article-padding-y;
  }
}

.article-nav {
  margin-left: -$nav-link-padding-x;
  margin-right: -$nav-link-padding-x;
}
