@import '../bootstrap/core';
@import '~bootstrap/scss/variables';

$content-max-width: 80ch;
$section-sm-spacer: 2 * $spacer !default;
$section-md-spacer: 4 * $spacer !default;
$section-lg-spacer: 8 * $spacer !default;
$section-spacer: $section-md-spacer !default;
$article-spacer: $section-lg-spacer !default;

:root {
  --section-sm-spacer: #{$section-sm-spacer};
  --section-md-spacer: #{$section-md-spacer};
  --section-lg-spacer: #{$section-lg-spacer};
  --section-spacer: #{$section-spacer};
  --article-spacer: #{$article-spacer};
}

.content {
  max-width: $content-max-width;
  margin-bottom: $spacer;

  &:last-child {
    margin-bottom: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  /* Spacing as a sections */

  h2,
  .h2 {
    margin-top: 2 * $section-spacer;
  }

  h3,
  .h3 {
    margin-top: 2 * $section-sm-spacer;
  }

  h4,
  .h4 {
    margin-top: 2 * $spacer;
  }

  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    &:first-child {
      margin-top: 0;
    }
  }

  &.blockquote {
    $blockquote-text-max-width: $content-max-width * $font-size-base /
      $blockquote-font-size;

    max-width: 75%; // 9/12 columns fallback
    max-width: calc(
      #{$blockquote-text-max-width} + #{$blockquote-padding-left}
    );

    &.blockquote-avatar {
      max-width: calc(
        #{$blockquote-text-max-width} + #{$blockquote-padding-left + $blockquote-avatar-size +
          $spacer}
      );
    }
  }
}

.section {
  position: relative;
  display: grid;
  padding-top: $section-spacer;
  padding-bottom: $section-spacer;
  // Fake padding for extra-small screens
  grid-template-columns: ($grid-gutter-width / 2) 1fr ($grid-gutter-width / 2);

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      grid-template-columns: 1fr ($container-max-width - $grid-gutter-width) 1fr;
    }
  }

  > * {
    grid-column: 2;
  }

  & > .section {
    grid-column: 1 / -1;
  }

  > .section {
    padding-top: $section-sm-spacer;
    padding-bottom: $section-sm-spacer;

    &:last-child {
      padding-bottom: $section-spacer;
      margin-bottom: -$section-spacer;
    }
  }
}

.section-sm {
  padding-top: $section-sm-spacer;
  padding-bottom: $section-sm-spacer;

  > .section:last-child {
    padding-bottom: $section-sm-spacer;
    margin-bottom: -$section-sm-spacer;
  }
}

.section-lg {
  padding-top: $section-lg-spacer;
  padding-bottom: $section-lg-spacer;

  > .section:last-child {
    padding-bottom: $section-lg-spacer;
    margin-bottom: -$section-lg-spacer;
  }
}

.article {
  padding-top: $article-spacer;
  padding-bottom: $article-spacer;

  & > .section:last-child {
    padding-bottom: $article-spacer;
    margin-bottom: -$article-spacer;
  }
}

.article-nav {
  margin-left: -$nav-link-padding-x;
  margin-right: -$nav-link-padding-x;
}
