@import "../bootstrap/core";

$section-sm-spacer: 2 * $spacer !default;
$section-md-spacer: 4 * $spacer !default;
$section-lg-spacer: 8 * $spacer !default;
$section-spacer: $section-md-spacer !default;
$article-spacer: $section-lg-spacer !default;

.content {
  margin-bottom: $spacer;

  &:last-child {
    margin-bottom: 0;
  }

  h2,
  .h2 {
    margin-top: 2 * $section-spacer;
  }

  h3,
  .h3 {
    margin-top: 2 * $section-sm-spacer;
  }

  h4,
  .h4 {
    margin-top: 2 * $spacer;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.section {
  padding-top: $section-spacer;
  padding-bottom: $section-spacer;

  > .section {
    padding-top: $section-sm-spacer;
    padding-bottom: $section-sm-spacer;

    &:last-child {
      padding-bottom: $section-spacer;
      margin-bottom: -$section-spacer;
    }
  }
}

.section-sm {
  padding-top: $section-sm-spacer;
  padding-bottom: $section-sm-spacer;

  > .section:last-child {
    padding-bottom: $section-sm-spacer;
    margin-bottom: -$section-sm-spacer;
  }
}

.section-lg {
  padding-top: $section-lg-spacer;
  padding-bottom: $section-lg-spacer;

  > .section:last-child {
    padding-bottom: $section-lg-spacer;
    margin-bottom: -$section-lg-spacer;
  }
}

.article {
  padding-top: $article-spacer;
  padding-bottom: $article-spacer;

  & > .section:last-child {
    padding-bottom: $article-spacer;
    margin-bottom: -$article-spacer;
  }
}

.article-nav {
  margin-left: -$nav-link-padding-x;
  margin-right: -$nav-link-padding-x;
}
