@import 'design-v2/variables';

$header-min-height: 8.4rem;

.list {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-lg) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .item {
    position: relative;
    max-width: 18rem;
    padding: 1rem 0;

    &:not(:last-child):after {
      position: absolute;
      top: 1rem;
      display: block;
      content: '';
      width: 2px;
      height: 100%;
      background: url('line.svg') 0 0 no-repeat;
      right: 0;
    }

    .header {
      height: $header-min-height;
      margin-bottom: 3.3rem;
      padding-right: 2rem;

      @media (max-width: $breakpoint-lg) {
        margin-bottom: 1rem;
      }

      @media (max-width: $breakpoint-sm) {
        height: auto;
        margin-bottom: 0.5rem;
      }

      .title {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }
    }
  }
}
