$card-header-color: #fef5ef;
$support-card-width: 21.5rem;
$member-image-width: 102px;
$grid-responsive-for-sections: repeat(auto-fit, minmax(300px, 1fr));

.nav-wrapper {
  display: flex;
  gap: 24px;
  .link-item {
    color: #666666;
    &:hover {
      text-decoration: none;
    }
  }
}

.header {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  .description {
    max-width: 50ch;
    font-size: 1.3rem;
    color: var(--gray-700);
    margin-bottom: 3rem;
  }
  .title {
    position: relative;
    max-width: 25ch;
  }

  .extra-text {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--success-dark);
    border-radius: 0.2rem;
    padding: 0.4rem 0.6rem;
    margin-left: 1rem;
    font-weight: 100;
    bottom: 0.6rem;
  }

  &-prices {
    margin: 0 auto;
    max-width: 100ch;
    text-align: center;
    .description {
      font-size: 1.3rem;
      color: var(--gray-700);
    }
  }
}

.plans-wrapper {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  .member-description {
    background: #f5f5f5;
    padding: 16px;
    margin: 21px 0 45px 0;
    .member-description-title {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 16px;
      color: #b75400;
    }
  }
}

.plan {
  border-top: none;

  a {
    color: var(--gray-500);
    text-decoration: underline;
  }
  a:hover {
    color: var(--gray-700);
  }

  &-header {
    min-height: 6.5rem;
    background-color: $card-header-color;
    text-align: center;
    padding: 1rem;
    &-caption {
      color: var(--gray-500);
    }
  }
  &-advantages {
    width: 100%;
    .listWrapper {
      display: flex;
      align-items: flex-start;
      li {
        margin-left: 0.5rem;
        line-height: 2;
        color: var(--gray-800);
      }
    }

    .box {
      .title {
        display: block;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &::-webkit-details-marker {
          display: none;
        }

        p {
          margin-bottom: 0;
        }
      }
      .description {
        text-decoration: none;
        font-size: 0.9rem;
        margin-left: 1rem;
        background-color: var(--gray-100);
        padding: 5px 10px;
      }
    }
  }

  .divider {
    height: 1.5rem;
    background-color: var(--primary);
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-height: 37rem;
    border: 1px solid var(--gray-200);

    &-button {
      margin-top: auto;
      text-align: center;
    }
    .subscription {
      text-align: center;
      margin-top: 30px;
      background: #f5f5f5;
      padding: 10px 14px;
      p {
        color: #424242;
      }
      a {
        color: var(--primary);
      }
    }
  }
  &-box {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    text-align: center;
    background-color: var(--gray-100);
    &-title {
      margin-bottom: 0.5rem;
    }
    &-caption {
      color: var(--primary);
      font-weight: 700;
    }
  }
}

.carousel-wrapper {
  .carousel-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
    grid-gap: 35px;
  }
}

.link-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 50px;
  a {
    text-decoration: underline;
  }
}

.table {
  margin-top: 2rem;
}

.cards {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($support-card-width, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
}

.card {
  position: relative;
  &::before {
    position: absolute;
    bottom: -8rem;
    left: -1rem;
    content: '';
    width: 2px;
    height: 100%;
    background: url('./assets/line.svg') 0 0 no-repeat;
  }
  &-image {
    display: block;
    margin-bottom: 1rem;
  }
  &-title {
    display: inline-block;
    padding-top: 0.3rem;
    margin-bottom: 1rem;
    border-top: 2px solid var(--primary);
  }

  &-caption {
    max-width: 20rem;
  }

  &-members {
    display: grid;
    grid-template-columns: repeat(3, $member-image-width);
    grid-gap: 1rem;

    &-title {
      text-align: center;
      grid-column: 1 / -1;
      margin-bottom: 0;
    }
    .logo-container {
      width: $member-image-width;
      height: 4.2rem;
      position: relative;
      border: 1px solid var(--gray-200);
      padding: 1rem;
      span {
        position: relative;
        display: block;
        padding: 0 0 50%;
        margin-bottom: 1.5rem;
        background: #fff;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($support-card-width, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
  .materials-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .button-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      .material-button {
        margin-top: 24px;
        text-align: center;
        width: max-content;
        background: #fff;
        cursor: pointer;
        &:hover {
          background: #fff;
        }
      }
    }
  }
}

.support-text {
  max-width: 80ch;
}

.fee-section {
  &-table {
    margin-bottom: 2rem;
  }
  &-note {
    margin-bottom: 2rem;
    color: var(--gray-800);
  }
  &-note-second {
    margin-top: 25px;
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.button-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.how-it-works {
  display: grid;
  grid-template-columns: $grid-responsive-for-sections;
  align-items: center;
  .content {
    .button {
      float: right;
      margin-top: 2rem;
      background: #fff;
      &:hover {
        background: #fff;
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 100px;
}

.carousel-item {
  margin: 0 35px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
