.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.select {
  &-container {
    width: 100%;
  }
  // z-index: 1 !important;
  // position: relative;

  // input {
  //   z-index: 1;
  // }

  ul {
    position: relative;
    z-index: 10000;
    overflow: hidden;
  }
  li {
    z-index: 100;
    overflow: hidden;
  }
  // ul {
  //   position: relative;
  // }

  // label {
  //   z-index: 1 !important;
  // }
}
.button-plus {
  position: relative;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid var(--primary);
}

.button-plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  background: var(--primary);
  top: 50%;
  left: 50%;
}

.button-plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  height: 50%;
  width: 2px;
}

.button-plus:hover:before,
.button-plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button-plus:hover {
  background: var(--primary);
  transition: 0.2s;
}

.hidden {
  display: none;
}

.button-help {
  all: unset;
  margin-top: 1rem;
  float: right;
  text-transform: capitalize;
  text-decoration: underline;
  color: var(--gray-600);
}
