@import "~components/bootstrap/core";

.free-section {
}

.free-section-title {
  align-items: center;
  text-align: center;

  @include media-breakpoint-up("sm") {
    text-align: left;
  }
}

.free-section-logo {
  img {
    border-radius: 50%;
    max-width: 100px;
    width: 100%;
    height: auto;
  }

  @include media-breakpoint-up("sm") {
    text-align: right;

    .free-section:nth-child(odd) & {
      width: auto !important;
      flex-basis: auto !important;
    }
  }
}

.free-section-screenshot {
  display: block;
  width: 100%;
  height: auto;
}

.free-section-content {
  .free-section:nth-child(odd) & {
    flex-direction: row-reverse;
  }
}

.free-section-footer {
  text-align: center;
  margin: map-get($spacers, 1) / -2;

  @include media-breakpoint-up("sm") {
    text-align: left;
  }

  .btn {
    margin: map-get($spacers, 1) / 2;
  }
}
