@import 'design-v2/variables';

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 20ch;

  @media (max-width: $breakpoint-sm) {
    padding-bottom: var(--page-padding-y);
  }
}

.button {
  flex: 1;
  padding: 1.3rem;
  font-size: 1.5rem;
}
